html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media (max-width: 768px) {
    .nav li > form {
        padding: 3px;
    }
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.tab-content {
    padding-top: 10px;
}

.input-group-addon {
    padding: 4px;
}

#email-invite-list {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 50px;
}

.site-coordinator-console #btn-invite-sender {
    margin-left: 30%;
}

.site-coordinator-console .well {
    margin-top: 5px;
    margin-bottom: 5px;
}

.site-coordinator-console .email-address {
    float: left;
    background: transparent;
    color: black;
    font-weight: bold;
    padding-right: 0px;
    font-size: 13px;
}

.site-coordinator-console .email-line button {
    background: transparent;
    border: none;
    color: red;
    font-weight: bold;
    padding-left: 2px;
}

.glyphicon-remove-circle {
    font-size: 17px;
    /*padding: 3px;*/
}

.email-delete-btn:active, .email-delete-btn:focus {
    outline: none !important;
    background: transparent !important;
}

.email-delete-btn {
    font-size: 12px;
}

.alert-box {
    display: none;
}

.password-reset {
    font-family: Verdana;
    font-size: 14px;
}

#btn-add-email:hover {
    color: #337AB7;
}

/* Bootstrap's glyphicons tend to not align properly when the top property is defined */
.glyphicon {
    top: auto;
}

td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #F1F1F1;
}

/* A wider container for gridview contents displayed in a modal */
@media (min-width: 768px) {
    .modal-dialog {
        width: 1000px;
        margin: 30px auto;
    }
}

.cursor-disabled {
    cursor: not-allowed;
}

/* Show stop cursor icon when hovering over disabled day in bootstrap datepicker */
.disabled.day {
    cursor: not-allowed !important;
}

/* Navbar keeps hiding datepicker, has z-index of 1031 */
.datepicker {
    z-index: 9999 !important;
}

.glyphicon {
    top: 2px;
}

.site-coordinator-console .glyphicon {
    top: 0px;
}

.sunday {
    color: red;
    font-weight: bold;
}

.btn-logout {
    color: #ecf0f1;
}

body {
    font-family: Calibri;
    font-size: 16px;
}

/* ~~~~~~~~~~~~~[ NavBar for Supervisors/Coordinators ]~~~~~~~~~~~~~~~~~~~~ */
.navbar-supervisor {
    background-color: #9a2f24;
    border-color: #c0392b;
}
.navbar-supervisor .navbar-brand {
    color: #ecf0f1;
}
.navbar-supervisor .navbar-brand:hover,
.navbar-supervisor .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-supervisor .navbar-text {
    color: #ecf0f1;
}
.navbar-supervisor .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-supervisor .navbar-nav > li > a:hover,
.navbar-supervisor .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-supervisor .navbar-nav > li > .dropdown-menu {
    background-color: #9a2f24;
}
.navbar-supervisor .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}
.navbar-supervisor .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-supervisor .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-supervisor .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #c0392b;
}
.navbar-supervisor .navbar-nav .open .dropdown-menu > .active > a,
.navbar-supervisor .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-supervisor .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-supervisor .navbar-nav > .active > a,
.navbar-supervisor .navbar-nav > .active > a:hover,
.navbar-supervisor .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-supervisor .navbar-nav > .open > a,
.navbar-supervisor .navbar-nav > .open > a:hover,
.navbar-supervisor .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-supervisor .navbar-toggle {
    border-color: #c0392b;
}
.navbar-supervisor .navbar-toggle:hover,
.navbar-supervisor .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-supervisor .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-supervisor .navbar-collapse,
.navbar-supervisor .navbar-form {
    border-color: #ecf0f1;
}
.navbar-supervisor .navbar-link {
    color: #ecf0f1;
}
.navbar-supervisor .navbar-link:hover {
    color: #ffbbbc;
}

@media (max-width: 767px) {
    .navbar-supervisor .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-supervisor .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-supervisor .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
    .navbar-supervisor .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-supervisor .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-supervisor .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #c0392b;
    }
}

/* ~~~~~~~~~~~~~[ NavBar for Administrators ]~~~~~~~~~~~~~~~~~~~~ */
.navbar-administrator {
    background-color: #8b7674;
    border-color: #75667c;
}
.navbar-administrator .navbar-brand {
    color: #ecf0f1;
}
.navbar-administrator .navbar-brand:hover,
.navbar-administrator .navbar-brand:focus {
    color: #c2fd00;
}
.navbar-administrator .navbar-text {
    color: #ecf0f1;
}
.navbar-administrator .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-administrator .navbar-nav > li > a:hover,
.navbar-administrator .navbar-nav > li > a:focus {
    color: #c2fd00;
}
.navbar-administrator .navbar-nav > li > .dropdown-menu {
    background-color: #8b7674;
}
.navbar-administrator .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}
.navbar-administrator .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-administrator .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #c2fd00;
    background-color: #75667c;
}
.navbar-administrator .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #75667c;
}
.navbar-administrator .navbar-nav .open .dropdown-menu > .active > a,
.navbar-administrator .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-administrator .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c2fd00;
    background-color: #75667c;
}
.navbar-administrator .navbar-nav > .active > a,
.navbar-administrator .navbar-nav > .active > a:hover,
.navbar-administrator .navbar-nav > .active > a:focus {
    color: #c2fd00;
    background-color: #75667c;
}
.navbar-administrator .navbar-nav > .open > a,
.navbar-administrator .navbar-nav > .open > a:hover,
.navbar-administrator .navbar-nav > .open > a:focus {
    color: #c2fd00;
    background-color: #75667c;
}
.navbar-administrator .navbar-toggle {
    border-color: #75667c;
}
.navbar-administrator .navbar-toggle:hover,
.navbar-administrator .navbar-toggle:focus {
    background-color: #75667c;
}
.navbar-administrator .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-administrator .navbar-collapse,
.navbar-administrator .navbar-form {
    border-color: #ecf0f1;
}
.navbar-administrator .navbar-link {
    color: #ecf0f1;
}
.navbar-administrator .navbar-link:hover {
    color: #c2fd00;
}

@media (max-width: 767px) {
    .navbar-administrator .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-administrator .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-administrator .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c2fd00;
    }
    .navbar-administrator .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-administrator .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-administrator .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c2fd00;
        background-color: #75667c;
    }
}

.navbar-administrator .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #75667c;
}
