#container-calendar {
    border-right: 1px solid;
    border-color: #5DBA40;
    height: 100%;
    min-height: 100%;
}

#site-logbook .datepicker-days,
#site-logbook .datepicker-months,
#site-logbook .datepicker-years,
#site-logbook .datepicker-decades,
#site-logbook .datepicker-centuries,
#site-logbook .table-condensed {
    width: 400px;
    height: 400px;
}

.sunday {
    color: red;
}

.centered-text {
    display: inline-block;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

/* Make spinner be within the div instead of center of calendar */
td.active.day {
    position: relative;
}

/* ALign glyphicon */
div#new-entry-prompt .glyphicon {
    top: 1px;
}
