.container-placement {
    height: 100%;
}

.panel-primary > .panel-heading {
    text-align: center;
}

.site-profile .input-group-addon {
    width: 90px;
}

.site-profile .input-group .form-control {
    width: 387px;
}
