.intern-day {
    background-color: #EBF4F8;
    border-radius: 0px !important;
}

.terminal-start-day {
    color: white;
    font-weight: bold;
    background-color: #357EBD;
    border-radius: 8px 0px 0px 8px !important;
}

.terminal-end-day {
    color: white;
    font-weight: bold;
    background-color: #357EBD;
    border-radius: 0px 8px 8px 0px !important;
}

#internship-calendars {
    border-right: 1px solid #5DBA40;
}

.completed-intern-day {
    background-color: rgba(133, 196, 0, 0.38);
    font-weight: bold;
}

.stat-number {
    color: #0c9100;
    font-size: 24px;
    font-weight: bold;
}

.stat-container:hover {
    background-color: #f2f2f2;
}

.stat-container {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
}

.stat-desc {
    display: block;
    width: 100%;
    font: bold 15px arial,sans-serif;
}
